<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.gen2.policymanager">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AddNewSrActivity"></activity>
        <activity
            android:name=".ContactUsActivity"
            android:label="Contact Us"
            android:parentActivityName=".WelcomeInformationActivity" />
        <activity
            android:name=".ViewSrDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths_app" />
        </provider>

        <activity
            android:name=".MoreActivity"
            android:label="Know More" />
        <activity
            android:name=".JoinUsActivity"
            android:label="Join Us"
            android:parentActivityName=".WelcomeInformationActivity" />
        <activity
            android:name=".BenifitsActivity"
            android:label="Benefits"
            android:parentActivityName=".WelcomeInformationActivity" />
        <activity android:name=".WelcomeInformationActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CommissionsActivity"
            android:label="My Commission">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SrDashboardActivity" />
        </activity>
        <activity
            android:name=".commissionMonthActivity"
            android:label="Choose Month">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SrDashboardActivity" />
        </activity>
        <activity android:name=".SrDashboardActivity" />
        <activity
            android:name=".SalesRepsActivity"
            android:label="Sales Representatives"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DataEntryActivity"
            android:label="Data Entry"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PoliciesListActivity"
            android:label="Application List"
            android:parentActivityName=".SalesRepsActivity" />
        <activity android:name=".SmsIntegrationActivity" />
        <activity
            android:name=".PolicyDetailsActivity"
            android:label="Application Details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyCreatedPolicyActivity" />
        </activity>

        <activity
            android:name=".MyCreatedPolicyActivity"
            android:label="Applications"
            android:parentActivityName=".SrDashboardActivity" />
        <activity
            android:name=".authActivities.VerifyPhoneActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".authActivities.PhoneAuthActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ImportEmployeesActivity" />
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>